@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14121F;
  --text: #E2DDFE;
  --border: #9773FF;
  --solid: #9E00FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
