@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(17, 24, 39);
  --text: #e2ddfe;
  --border: #9773ff;
  --solid: #9e00ff;
  --primary: #9e00ff;
  --primary-light: #b333ff;
  --primary-dark: #7a00cc;
  --background-light: rgb(23, 32, 45);
  --background-dark: rgb(12, 17, 24);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(17, 24, 39);
    --foreground: #ededed;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
